header {
    text-align: center;
    color: blue;
    text-shadow: 2px 2px yellow;
    font-size: 60px;
    font-weight: bold;
    border-bottom: 3px dotted red;
    margin: 0px auto 20px auto;
    padding: 20px;
    background-color: black;
    opacity: 0.8;
}
body {
    background-color: black;
    color: white;
    text-align: center;
}
    .backPic {
        background: url("../images/background.jpg") no-repeat;
        background-color: black;
        background-size: auto 100%;
        background-position: center;
    }
    .timeBox {
        font-size: 25px;
        color: yellow;
        padding: 20px;
    }
    .red {
        color: red;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 35px;
    }
    .white {
        color: white;
    }
    .correct {
        color: lime;
    }
    .wrong {
        color: red;
    }
    .box {
        border: 3px solid magenta;
        width: 70%;
        height: auto;
        font-size: 25px;
        margin: 0 auto 20px auto;
        background: black;
        opacity: 0.8;
    }
    .answer {
        font-size: 25px;
        margin: 5px auto 5px auto;
        width: 80%;
        border: 1px solid orange;
    }
    .clear {
        border: none;
        color: white;
        margin-bottom: 20px;
    }
    #questions {
        font-size: 25px;
        margin: 20px auto 20px auto;
        width: 100%;
        border: none;
    }
    #answerKey {
        margin-bottom: 10px;
    }
    #start {
        margin: 20px 0 20px 0;
        color: lime;
        font-weight: bold;
    }
    #target {
        height: auto;
        width: 80%;
        margin: 10px auto 5px auto;
    }
    #target2 {
        margin: 0 auto 20px auto;
    }